<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bjornkjellgren.se/Week1" 
       class = "se.bjornkjellgren.week1.Week1Package"
       genModel = "se/bjornkjellgren/Week1.genmodel" /> 
	
  </extension>




</plugin>
